
.navbar-search {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  
  width: 100%;
  background: white;
  box-shadow: rgb(223, 223, 223) 0px 2px 7px;
  z-index: 0;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;  
}

.magin {
  margin-top: 10px;
}
.navbar-below-menu li a {
  font-weight: 500;
}

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf; 
  min-height: 420px ;
  background: white;
  margin: 0px auto;
  padding: 10px;
  
}

.product-tumb img {
  align-items: center;
  justify-content: center;
  height: 220px;
  margin: 0px auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: 14px;
  color: #245ce6;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-details p a {
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  color: #112950;
  text-decoration: none;
  transition: 0.3s;
 
}

.product-bottom-details {
  overflow: hidden;
}

.product-price {
 
  color: #1523c1;
  font-weight: 600;
  width: 50%;
  float: left;
}

.product-price small {
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
  font-size: 17px;
}

.discount-product {
  border-radius: 0.25rem;
  position: absolute;
  padding: 2px;
  right: 0;
  top: 40%;
  z-index: 1;
  color: white;
  background: #23d5ab;
  box-shadow: 0 1px 6px #23d5ab;
}

.btn-cart {
  font-size: 12px;
  background-color: white;
  color: black;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  float: right;
  /* box-shadow: 0 1px 3px #dfdfdf; */
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  text-decoration: none;
  float: right;
}

.badge-hot {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  display: inline-block;
  background-color: #ed0606;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 8px;
}

.form-login{
 
  margin: 0px auto;

  margin-top: 30px;
    
}

#icon-load {
  display: none;
}

@media only screen and (max-width: 910px) {

  
}

@media only screen and (max-width: 800px) {

 
}

@media only screen and (max-width: 760px) {

  
}

@media only screen and (max-width: 700px) {

  .product-details p a {
    font-weight: 500;
    font-size: 12px;
}

}

@media only screen and (max-width: 500px) {

 #card-container{
 
 }

 

 .product-catagory {

    font-size: 10px;
    
    margin-bottom: 5px;
    margin-top: 5px;
   
  }

  .product-tumb img {
   
    height: 200px;
  }

  .product-card {
   
    min-height: 400px;
   
}
  
}

@media only screen and (max-width: 413px) {

  
}


@media only screen and (max-width: 361px) {


}

@media only screen and (max-width: 290px) {

 
}

